@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 480px) {
  .container .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200) {
  .container .container {
    width: 1200px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-image: url("../images/ice-cream-fon 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #131313;
  background-color: #fcfcfc;
  font-size: 12px;
  line-height: 1.86;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  width: 87.5%;
}

@media screen and (min-width: 320px) {
  .modal {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
  }
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.header__container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 12px;
  display: block;
}

.mobile-menu-btn-open {
  height: 32px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-top: 16px;
}

.mobile-menu-open-icon {
  fill: #fcfcfc;
  width: 32px;
  height: 32px;
}

.hero {
  position: relative;
  padding-top: 20px;
  background-color: #84a178;
  min-height: 510px;
}
.hero__title {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
  margin-top: 90px;
  font-family: Seymour One;
  font-size: 26px;
  line-height: 1.26;
}
.hero__button--list {
  display: flex;
  gap: 8px;
  margin-bottom: 30px;
  position: relative;
  z-index: 5;
}
.hero__button--link {
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-link {
  width: 62px;
  height: 24px;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  font-weight: 600;
  color: #131313;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-link:hover {
  border-color: #0a8817;
}
.products-link:disabled {
  border-color: #ababab;
}
.products-link:focus {
  border-color: #0a8817;
  color: #fcfcfc;
}

.about-link {
  width: 83px;
  height: 24px;
  background-color: transparent;
  border: 0;
  color: #f8d24e;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-link:hover {
  color: #0a8817;
}
.about-link:focus {
  color: #fcfcfc;
}
.about-link:disabled {
  color: #ababab;
}

.ice-cream {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-btn {
  margin-top: 24px;
  margin-left: 32px;
  background-color: #f8d24e;
  border: 0;
  border-radius: 10px;
  width: 152px;
  height: 42px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-btn:hover {
  background-color: #0a8817;
}
.header-btn:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}
.header-btn:disabled {
  background-color: #ababab;
}
.header-btn::after {
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 7px;
  background-image: url("../images/test-strelka.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header-btn:focus::after {
  background-image: url("../images/test-strelka-white.png");
}

.hero__info {
  margin-left: 27%;
}

.hero__text {
  width: 151px;
  height: 85px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #fcfcfc;
}

.hero__arrow {
  background-color: transparent;
  border: 0;
  width: 40px;
  padding: 0;
}

.hero__location--list {
  position: absolute;
  top: 0px;
  right: 32;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero__location--item {
  font-size: 28px;
  line-height: 1.21;
  font-weight: 900;
  text-transform: uppercase;
  text-align: end;
}

.hero__location--place {
  color: #fcfcfc;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 4px;
  text-align: end;
}

.cafes {
  width: 35px;
  margin-bottom: 20px;
}

.food-truck {
  width: 46px;
}

@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
  .hero__text {
    display: none;
  }
  .hero__arrow {
    display: none;
  }
  .hero__location--list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .ice-cream {
    display: none;
  }
  .mobile-menu-btn-open {
    margin-top: 29px;
    margin-left: auto;
  }
  .header__container {
    justify-content: flex-start;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero {
    position: static;
    min-height: 415px;
    padding-bottom: 10px;
    background-image: url("../images/ice-cream-tablet-1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .hero .container {
    position: relative;
  }
  .hero__title {
    font-size: 18px;
    margin-top: 84px;
  }
  .hero__button--list {
    margin-bottom: 56px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2) and (min-width: 768px) {
  .hero {
    background-image: url("../images/ice-cream-tablet@2x.png");
  }
}
.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-sup-title-dark {
  margin-bottom: 12px;
  text-align: center;
}

.page-title-dark {
  text-align: center;
  padding-bottom: 148px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 92px;
  }
  .page-sup-title-dark {
    font-size: 22px;
  }
  .page-title-dark {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 66px;
  }
  .page-sup-title-dark {
    font-size: 30px;
  }
  .page-title-dark {
    font-size: 36px;
  }
}
.products__list {
  display: flex;
  flex-direction: column;
  gap: 164px;
}

.products__product-name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.products__item {
  width: 100%;
  border-radius: 24px;
  padding-top: 123px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .products__item {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    width: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: 370.16px;
  }
}
.products__item-one {
  background: #aec6a5;
  position: relative;
}

.products__product-name-one::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  width: 201px;
  height: 206px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
  border-radius: 100px;
  background-image: url(../images/product-mobile-1.png);
  background-repeat: no-repeat;
}

.products__item-two {
  background: #efd478;
  position: relative;
}

.products__product-name-two::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 201px;
  height: 211px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
  border-radius: 101px;
  background-image: url(../images/product-mobile-2.png);
  background-repeat: no-repeat;
}

.products__item-three {
  background: #d6936d;
  position: relative;
}

.products__product-name-three::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 201px;
  height: 211px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  border-radius: 101px;
  background-image: url(../images/product-mobile-3.png);
  background-repeat: no-repeat;
}

.products__product-info {
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
}

.products__product-info-wrapper {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.products__btn {
  border: none;
  background: transparent;
  margin: 0 auto;
  padding: 0;
  display: block;
  cursor: pointer;
  position: relative;
}

.products__btn::before {
  content: "";
  display: inline-block;
  width: 43px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/Arrow-standart.png);
  background-repeat: no-repeat;
}

.products__btn:hover::before {
  content: "";
  width: 53px;
  background-image: url(../images/arrow-hover.png);
}

.products__btn:focus::before {
  content: "";
  width: 55px;
  height: 25px;
  background-image: url(../images/arrow-focus.png);
}

.about {
  background-color: #84a178;
  padding-top: 60px;
  padding-bottom: 42px;
}

.about-last {
  display: none;
}

.page-sup-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  text-align: center;
}

.page-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 32px;
}

.about__circles {
  position: relative;
  width: 278px;
  height: 278px;
  background-color: #f8d24e;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
  margin: 0px auto;
}
.about__circles img {
  position: absolute;
  border-color: transparent;
  width: 100%;
  border-radius: 50%;
  top: 21.82px;
}

.about__text {
  font-size: 12px;
  line-height: 176%;
  /* or 21px */
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  text-indent: 1px;
}
.about__text p {
  padding-bottom: 3px;
}

.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 164px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background-color: #f8d24e;
  color: #131313;
  cursor: pointer;
  margin: 0px auto;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button:hover {
  background: #0a8817;
}
.about__button:focus {
  background: #0a8817;
  color: #fcfcfc;
}
.about__button:focus::after {
  background-image: url("../images/strelka-white.png");
}
.about__button:disabled {
  background: #ababab;
}

.about__button::after {
  content: "";
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 80%;
  background-image: url("../images/strelka.png");
  background-repeat: no-repeat;
  width: 8px;
  height: 10px;
}

.about__info {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about__info {
    display: flex;
    padding-bottom: 48px;
  }
  .about__text {
    text-align: left;
    padding: 0;
    padding-bottom: 48px;
  }
  .about__text p {
    padding-bottom: 8px;
  }
  .about__circles {
    width: 334px;
    height: 330px;
  }
  .about__circles img {
    width: 334px;
    height: 330px;
    top: 25px;
  }
  .about__description {
    width: 336px;
  }
  .about__button {
    margin: 0;
  }
  .page-title {
    font-size: 34px;
  }
  .page-sup-title {
    font-size: 22px;
  }
  .about-last {
    display: contents;
  }
}
@media screen and (min-width: 1200px) {
  .page-title {
    font-size: 36px;
  }
  .about__info {
    display: flex;
    padding-bottom: 60px;
  }
  .about__circles {
    width: 490px;
    height: 490px;
  }
  .about__circles img {
    width: 490px;
    height: 490px;
    top: 39px;
  }
  .about__description {
    width: 463px;
  }
  .about__text {
    font-size: 16px;
    padding-top: 70px;
  }
}
.advantages {
  background-color: #84a178;
  margin-top: 0;
}

.hide-line {
  position: relative;
  margin-top: -4px;
  margin-bottom: -4px;
}

.advantages__icon {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0 auto;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8d24e;
}

.cow::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../images/cow.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.weight::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../images/weight.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.ice-cream::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../images/ice-crema.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.advantages__numbers {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-top: 16px;
  margin-bottom: 18px;
}

.advantages__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  color: #fcfcfc;
  padding-bottom: 27px;
}

.advantages__item {
  width: 230px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-bottom: 40px;
  }
  .advantages__text {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
  }
  .advantages__numbers {
    font-size: 48px;
  }
  .avantages__item {
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    gap: 32px;
    padding-bottom: 86px;
  }
  .advantages__item {
    width: 368px;
  }
  .advantages__text {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
  }
  .advantages__numbers {
    font-size: 58px;
  }
}
.gallery {
  background-image: linear-gradient(to bottom, #84a178 25px, rgba(0, 0, 0, 0) 25px, rgba(0, 0, 0, 0) 100%);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-slide img {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to bottom, #84a178 165px, rgba(0, 0, 0, 0) 165px, rgba(0, 0, 0, 0) 100%);
  }
}
@media (min-width: 1200px) {
  .gallery {
    background-image: linear-gradient(to bottom, #84a178 95px, rgba(0, 0, 0, 0) 95px, rgba(0, 0, 0, 0) 100%);
  }
}
.feedback {
  padding-top: 80px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .feedback {
    padding-top: 60px;
    padding-bottom: 124px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback {
    padding-top: 128px;
    padding-bottom: 144px;
  }
}

.feedback__block {
  text-align: center;
  margin: auto;
  display: block;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .feedback__block {
    width: 440px;
  }
}
.feedback__image {
  margin: auto;
  border-radius: 50%;
}

.feedback__wrapper {
  background: #84a178;
  border-radius: 10px;
  padding: 34px 39px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .feedback__wrapper {
    margin: 28px auto 0;
    padding: 28px 80px;
    width: 705px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__wrapper {
    margin-top: 32px;
    padding: 39px 109px;
    width: 968px;
  }
}

.feedback__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;
  color: #fcfcfc;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .feedback__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__text {
    font-size: 16px;
    line-height: 1.88;
  }
}

.feedback__residence {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .feedback__residence {
    margin-top: 32px;
  }
}

.swiper-slide .swiper-pagination-bullets {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  background-color: #84a178;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 48px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 100px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #84a178;
  margin: 0 9px;
}

@media screen and (min-width: 480px) {
  .contacts {
    width: 480px;
    padding-top: 48px;
    padding-bottom: 39px;
    background-image: linear-gradient(to top, #84a178 1265px, rgba(0, 0, 0, 0) 1265px, rgba(0, 0, 0, 0) 100%);
  }
  .contacts__card-wrap {
    margin-top: 32px;
  }
  .contacts__item {
    width: 280px;
    height: 412px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 32px;
    margin-top: 20px;
    background: #fcfcfc;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.3);
  }
  .contacts__title {
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 94px;
    height: 16px;
    text-transform: uppercase;
    background-color: #f8d24e;
    border-radius: 6px;
  }
  .contacts__address {
    padding-bottom: 24px;
  }
  .contacts__location {
    margin-bottom: 8px;
    color: #131313;
  }
  .contacts__text {
    color: #d6936d;
  }
  .contacts__text:hover, .contacts__text:focus {
    color: #0a8817;
  }
  .contacts__work {
    padding: 24px 0;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
  }
  .contacts__work-time:not(:last-child) {
    margin-bottom: 8px;
  }
  .contacts__day {
    color: #131313;
  }
  .contacts__time {
    color: #ababab;
  }
  .contacts__connection {
    padding-top: 24px;
    text-decoration: none;
  }
  .contacts__link {
    cursor: pointer;
    color: #131313;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #d6936d;
  }
  .contacts__button-wrap {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
    margin-bottom: 120px;
  }
  .contacts__button--locations {
    position: relative;
    width: 196px;
    height: 42px;
    color: #131313;
    background-color: #f8d24e;
    border-radius: 10px;
    border: 2px solid #f8d24e;
    margin-bottom: 16px;
  }
  .contacts__button--locations::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 80%;
    transform: translate(-50% -50%);
    width: 8px;
    height: 10px;
    margin-left: 7px;
    background-image: url("../images/arrow2.png");
    background-repeat: no-repeat;
  }
  .contacts__button--locations:focus::after {
    background-image: url("../images/arrow2.png");
  }
  .contacts__button--franchise {
    position: relative;
    width: 196px;
    height: 42px;
    color: #131313;
    background-color: #84a178;
    border: 2px solid #f8d24e;
    border-radius: 10px;
  }
  .contacts__button--franchise::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 80%;
    transform: translate(-50% -50%);
    width: 8px;
    height: 10px;
    margin-left: 7px;
    background-image: url("../images/arrow2.png");
    background-repeat: no-repeat;
  }
  .contacts__button--franchise:focus::after {
    background-image: url("../images/arrow2.png");
  }
}
.contacts__card-wrap {
  margin-top: 32px;
}

.contacts__item {
  width: 280px;
  height: 412px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  margin-top: 20px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.3);
}

.contacts__title {
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 94px;
  height: 16px;
  text-transform: uppercase;
  background-color: #f8d24e;
  border-radius: 6px;
}

.contacts__address {
  padding-bottom: 24px;
}

.contacts__location {
  margin-bottom: 8px;
  color: #131313;
}

.contacts__text {
  color: #d6936d;
}
.contacts__text:hover, .contacts__text:focus {
  color: #0a8817;
}

.contacts__work {
  padding: 24px 0;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

.contacts__work-time:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__day {
  color: #131313;
}

.contacts__time {
  color: #ababab;
}

.contacts__connection {
  padding-top: 24px;
}

.contacts__link {
  cursor: pointer;
  color: #131313;
}
.contacts__link:hover, .contacts__link:focus {
  color: #d6936d;
}

.contacts__button-wrap {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
  margin-bottom: 120px;
}

.contacts__button--locations {
  position: relative;
  width: 196px;
  height: 42px;
  color: #131313;
  background-color: #f8d24e;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  margin-bottom: 16px;
}
.contacts__button--locations::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 80%;
  transform: translate(-50% -50%);
  width: 8px;
  height: 10px;
  margin-left: 7px;
  background-image: url("../images/arrow2.png");
  background-repeat: no-repeat;
}
.contacts__button--locations:focus::after {
  background-image: url("../images/arrow2.png");
}

.contacts__button--franchise {
  position: relative;
  width: 196px;
  height: 42px;
  color: #131313;
  background-color: #84a178;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
.contacts__button--franchise::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 80%;
  transform: translate(-50% -50%);
  width: 8px;
  height: 10px;
  margin-left: 7px;
  background-image: url("../images/arrow2.png");
  background-repeat: no-repeat;
}
.contacts__button--franchise:focus::after {
  background-image: url("../images/arrow2.png");
}

.footer .container {
  padding: 0 20px;
  min-width: 320px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    min-width: 768px;
    max-width: 768px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    min-width: 1200px;
    max-width: 1200px;
  }
}

.footer {
  font-style: normal;
  font-family: "Montserrat";
  background-color: #84a178;
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer__title {
    width: 352px;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    width: 504px;
    margin-bottom: 14px;
  }
}
.footer__description {
  width: 200px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 42px;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer__description {
    font-size: 48px;
    line-height: 1.22;
    letter-spacing: 0.06em;
    margin-bottom: 32px;
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__description {
    width: 504px;
    margin-bottom: 54px;
  }
}

.footer-socials {
  width: 152px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  /*Social svg*/
}
.footer-socials__thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 244px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .footer-socials__thumb {
    width: 290px;
    margin-top: auto;
  }
}
.footer-socials__link {
  background-color: #f8d24e;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: #84a178;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-socials__link {
    width: 34px;
    height: 34px;
  }
}
.footer-socials__link:hover {
  color: #fcfcfc;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:focus {
  color: #fcfcfc;
  height: 35px;
  width: 35px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__icon {
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-address {
    font-size: 14px;
    line-height: 1.85;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-bottom: 60px;
  }
}
.footer-address__text {
  color: #131313;
  margin-right: 3px;
}
@media screen and (min-width: 768px) {
  .footer-address__text {
    margin-right: 6px;
  }
}
.footer-address__tel {
  color: #fcfcfc;
}

.footer-copyright {
  border-top: 1px solid #fcfcfc;
  display: flex;
  justify-content: center;
  padding-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    padding-bottom: 13px;
  }
}
.footer-copyright__item {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  width: 150px;
  color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  .footer-copyright__item {
    width: 300px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1200px) {
  .footer-copyright__item {
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}

.modal {
  position: absolute;
  width: 568px;
  height: 644px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  background-color: #ffffff;
  border-radius: 10px;
  transition: transform 500ms var(--transition-timing);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1) rotate(180deg);
  transition: transform 500ms var(--transition-timing);
}

.modal-close {
  width: 18px;
  height: 18px;
}

.modal-btn {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #131313;
}

.modal__address {
  padding: 28px 30px;
}

.modal__location {
  text-align: center;
}

.location-map {
  display: block;
  width: 100%;
  height: 199px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .location-map {
    width: 224px;
  }
}
@media screen and (min-width: 768px) {
  .modal__address {
    padding: 32px 60px;
  }
  .location-map {
    width: 448px;
    height: 260px;
    margin-top: 32px;
  }
}
.modal-desc {
  color: #131313;
  font-size: 14px;
  line-height: 1.4285714286;
  margin-top: 20px;
  margin-bottom: 24px;
}

.modal-form-wrapper {
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-form__input {
  height: 32px;
  padding-left: 12px;
}

.modal-form__comment {
  display: block;
  margin: 0 auto;
  height: 64px;
  resize: none;
  padding: 8px 12px;
}

.modal-form__comment,
.modal-form__input {
  width: 100%;
  border: 1px solid #84a178;
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment:focus,
.modal-form__input:focus {
  outline: none;
  border: 1px solid #0a8817;
}
.modal-form__comment::-moz-placeholder, .modal-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.4166666667;
  color: #131313;
}
.modal-form__comment:-ms-input-placeholder, .modal-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.4166666667;
  color: #131313;
}
.modal-form__comment::placeholder,
.modal-form__input::placeholder {
  font-size: 12px;
  line-height: 1.4166666667;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .modal-desc {
    font-size: 16px;
    line-height: 1.375;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .modal-form {
    gap: 16px;
  }
  .modal-form__comment,
.modal-form__input {
    width: 368px;
  }
  .modal-form__comment::-moz-placeholder, .modal-form__input::-moz-placeholder {
    font-size: 14px;
    line-height: 1.4285714286;
  }
  .modal-form__comment:-ms-input-placeholder, .modal-form__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.4285714286;
  }
  .modal-form__comment::placeholder,
.modal-form__input::placeholder {
    font-size: 14px;
    line-height: 1.4285714286;
  }
  .modal-form__input {
    height: 32px;
    padding-left: 16px;
  }
  .modal-form__comment {
    height: 84px;
    padding: 11px 16px;
  }
}
.modal-title {
  font-family: "Seymour One";
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
  text-align: center;
}

.page-sup-title-dark {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.23;
  text-transform: uppercase;
  color: #131313;
}

.page-title-dark {
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.page-sup-title {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 22px;
  line-height: 1.23;
  text-transform: uppercase;
  color: #fcfcfc;
}

.page-title {
  font-family: "Seymour One";
  font-size: 34px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

.modal-button {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  background-color: #f8d24e;
  border: 0;
  border-radius: 10px;
  padding: 12px 34px;
  margin-top: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  background-color: #0a8817;
}
.modal-button:focus {
  color: #fcfcfc;
}
.modal-button:disabled {
  background-color: #ababab;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 16px;
  height: 16px;
}
.modal-close-btn:hover .close-icon, .modal-close-btn:focus .close-icon {
  fill: #f8d24e;
}

.close-icon {
  width: 16px;
  height: 16px;
  fill: #131313;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-button {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.2142857143;
  }
  .modal-close-btn {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
  .close-icon {
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=index.css.map */