// global text color
$firstColor: #131313;
// fon and second text color
$MainbackgroundColor: #fcfcfc;
// global serif
$siteSerif: 'Montserrat';
//first color site
$firstBlockColor: #84a178;
// second color site
$secondBlockColor: #f8d24e;
// colors products
// product one
$oneColorProduct: #aec6a5;
// two
$twoColorProduct: #efd478;
// three color product and color navigation in block contacts)
$threeColorProduct: #d6936d;
// color time in block contact and color disabled btn
$colorTime: #ababab;
// color copyright
$colorCopyright: #7a7a7a;
// hover btn and text navigation
$hoverBtn: #0a8817;
// color input in form
$colorInput: rgba(248, 210, 78, 0.1);
// animation(transition)
$animationTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
