// global text color
$firstColor: #131313;
// fon and second text color
$MainbackgroundColor: #fcfcfc;
// global serif
$siteSerif:'Montserrat';
//first color site
$firstBlockColor:#84A178;
// second color site
$secondBlockColor:#F8D24E;
// colors products
// product one
$oneColorProduct:#AEC6A5;
// two
$twoColorProduct:#EFD478;
// three color product and color navigation in block contacts
$threeColorProduct:#D6936D;
// color time in block contact and color disabled btn
$colorTime:#ABABAB;
// color copyright
$colorCopyright:#7A7A7A;
// hover btn and text navigation
$hoverBtn:#0A8817;
// color input in form
$colorInput:rgba(248, 210, 78, 0.1);
// animation(transition)
$animationTransition:250ms cubic-bezier(0.4, 0, 0.2, 1);

