<section class="about-section">
    <div class="container ">
        <h3 class="about-section__title_h3">tradition and love</h3>
        <h2 class="about-section__title_h2">how it’s made?</h2>
        <div class="about-section__info">
            
             <div class="about-section__circles">
                <img srcset= "./images/cow-desktop.jpg 2x"
                src="./images/cow-desktop.jpg" alt="cow" >
            </div>
        
            <div class="about-section__description">
                <p class="about__text">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.<br>
                    We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. This is enough to choose ice cream and coffee for any mood!</p>
                
                <button data-modal-open type="button" class="about__button">Read more
                    <svg class="about-submit-icon" width="12px" height="12px">
                        <use href="./images/sprite.svg#icon-Frame-32"></use>
                    </svg>
                </button>     
            </div>
            </div>
</section>