<section class="contacts">
 <div class="hz">hi

    <button type="button" class="button">
        <span class="button__span"> Buy now
            <svg class="btn-arrow">
                <use href="./images/sprite.svg#btn-arrow"></use>
            </svg>
        </span>
    </button>

    <button type="button" class="button">
        <span class="button__span"> Our Locations
            <svg class="btn-arrow">
                <use href="./images/sprite.svg#btn-arrow"></use>
            </svg>
        </span>
    </button>

    <button type="button" class="button">
        <span class="button__span"> Read more
            <svg class="btn-arrow">
                <use href="./images/sprite.svg#btn-arrow"></use>
            </svg>
        </span>
    </button>

    <button type="button" class="button-contour button-contour__franchise">
        <span class="button__span"> Franchise
            <svg class="btn-arrow">
                <use href="./images/sprite.svg#btn-arrow"></use>
            </svg>
        </span>
    </button>

    <button type="button" class="button-contour__products">
        Products
    </button>

 </div>   
</section>