<!-- Customer reviews -->
<section class="customer-reviews">
  <div class="feedback container swiper mySwiper">
    <h2 class="visually-hidden">Customer reviews</h2>
    <ul class="swiper-wrapper">
      <li class="feedback__block swiper-slide">
        <picture>
          <source
            srcset="
              /src/images/reviews-1.jpg    1x,
              /src/images/reviews-1@2x.jpg 2x
            "
            media="(min-width:767px)"
          />
          <img
            class="feedback__image"
            srcset="/src/images/reviews-1.jpg"
            src="/src/images/reviews-1.jpg"
            alt="Girl's photo"
          />
        </picture>
        <div class="feedback__wrapper">
          <p class="feedback__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="feedback__residence">Emily, Los Angeles</p>
      </li>
      <li class="feedback__block swiper-slide">
        <picture>
          <source
            srcset="
              /src/images/reviews-2.jpg    1x,
              /src/images/reviews-2@2x.jpg 2x
            "
            media="(min-width:767px)"
          />
          <img
            class="feedback__image"
            srcset="/src/images/reviews-2.jpg"
            src="/src/images/reviews-2.jpg"
            alt="Boy with ice cream"
          />
        </picture>
        <div class="feedback__wrapper">
          <p class="feedback__text">
            I love seating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
        </div>
        <p class="feedback__residence">Sam, Los Angeles</p>
      </li>
      <li class="feedback__block swiper-slide">
        <picture>
          <source
            srcset="
              /src/images/reviews-3.jpg    1x,
              /src/images/reviews-3@2x.jpg 2x
            "
            media="(min-width:767px)"
          />
          <img
            class="feedback__image"
            srcset="/src/images/reviews-3.jpg"
            src="/src/images/reviews-3.jpg"
            alt="The girl bites the ice cream"
          />
        </picture>
        <div class="feedback__wrapper">
          <p class="feedback__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="feedback__residence">Diana, Chicago</p>
      </li>
    </ul>
    <div
      class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
    ></div>
  </div>
</section>
