<div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="feedback__block">
        <img class="feedback__image" src="/src/images/reviews-1.png" alt="Girl's photo">
        <div class="feedback__wrapper">
            <p class="feedback__text">I love visiting your cafe.
                You prepare the most delicious ice cream in Los Angeles!
                In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
        </div>
        <h3 class="feedback__residence">Emily, Los Angeles</h3>
    </div>
    <div class="feedback__block">
        <img class="feedback__image" src="/src/images/reviews-2.png" alt="Boy with ice cream">
        <div class="feedback__wrapper">
            <p class="feedback__text">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.</p>
        </div>
        <h3 class="feedback__residence">Sam, Los Angeles</h3>
    </div>
    <div class="feedback__block">
        <img class="feedback__image" src="/src/images/reviews-3.png" alt="Еhe girl bites the ice cream">
        <div class="feedback__wrapper">
            <p class="feedback__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always
            served politely and quickly!</p>
        </div>
        <h3 class="feedback__residence">Diana, Chicago</h3>
    </div>
    <!-- <div>
        <span class="swipper"></span>
        <span class="swipper"></span>
        <span class="swipper"></span>
    </div> -->
</div>