<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__thumb">
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__description">with passion</p>
    </div>

    <div class="footer-socials__thumb">
      <ul class="footer-socials">
        <li>
          <a
            href="https://github.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-socials__link"
          >
            <svg class="footer-socials__icon" width="18" height="18">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://telegram.org"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-socials__link"
            ><svg class="footer-socials__icon" width="18" height="18">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-socials__link"
            ><svg class="footer-socials__icon" width="18" height="18">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <address class="footer-address">
        <span class="footer-address__text">Feel free to contact</span>
        <a href="tel:+610383766284" class="footer-address__tel"
          >+61 (0) 383 766 284</a
        >
      </address>
    </div>
  </div>

  <div class="footer-copyright">
    <b class="footer-copyright__item">
      &#169; 2022 - IceCream. All Rights Reserved.
    </b>
  </div>
</footer>
