<!-- Franchise-modal -->
<div class="backdrop is-hidden">
    <div class="modal modal__address">
        <button type="button" class="modal-close-btn">
            <svg class="close-icon">
                <use href="./images/sprite.svg#close-btn"></use>
            </svg>
        </button>
        <p class="modal-title">Thank you for your interest in owning an Ice
            Cream shop</p>
        <p class="modal-desc">Due to the overwhelming volume of franchise
            requests we are not accepting new franchisee applications at this
            time. Once
            the application process resumes, we will contact you for further
            information. Please fill out the contact information
            below and we will reach out for additional information. We
            appreciate your patience.</p>
        <div class="modal-form-wrapper">
            <form class="modal-form" autocomplete="on">
                <label class="modal-form__label">
                    <input type="text" name="username" placeholder="Name"
                        class="modal-form__input" autofocus required>
                </label>
                <label class="modal-form__label">
                    <input type="tel" name="telephone" placeholder="Phone"
                        class="modal-form__input" required>
                </label>
                <label class="modal-form__label">
                    <input type="email" name="email" placeholder="Email"
                        class="modal-form__input" required>
                </label>
                <label class="modal-form__label">
                    <textarea name="comment" placeholder="Comment"
                        class="modal-form__comment"></textarea>
                </label>
            </form>
            <button type="submit" class="modal-button">Submit</button>
        </div>
    </div>
</div>