<!-- Gallery -->
<section class="gallery">
    <div class="container">
        <div class="swiper gallery-swip">
            <div class="swiper-wrapper">
                <div class="swiper-slide gallery-slide">
                    <img src="./images/gallery-1.jpg"
                        alt="fruits ice
                        cream" width="1013" height="422">
                </div>
                <div class="swiper-slide gallery-slide">
                    <img src="./images/gallery-2.jpg"
                        alt="">
                </div>
                <div class="swiper-slide gallery-slide">
                    <img src="./images/gallery-3.jpg"
                        alt="">
                </div>
                <div class="swiper-slide gallery-slide">
                    <img src="./images/gallery-4.jpg" alt="">
                </div>
            </div>
        </div>
    </section>