<!-- Gallery -->
<section class="gallery">
  <div class="container">
    <div class="swiper gallery-swip">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery-slide">
          <a
            data-caption=""
            data-fancybox="gallery"
            href="./images/gallery-1.jpg#1"
          >
            <img
              id="1"
              src="./images/gallery-1.jpg"
              alt="fruits ice
                            cream"
              width="1013"
              height="422"
            />
          </a>
        </div>
        <div class="swiper-slide gallery-slide">
          <a
            data-caption=""
            data-fancybox="gallery"
            href="./images/gallery-2.jpg#2"
          >
            <img
              id="2"
              src="./images/gallery-2.jpg"
              alt="ice cream with sweets"
            />
          </a>
        </div>
        <div class="swiper-slide gallery-slide">
          <a
            data-caption=""
            data-fancybox="gallery"
            href="./images/gallery-3.jpg#3"
          >
            <img
              id="3"
              src="./images/gallery-3.jpg"
              alt="vanilla and strawberry ice cream"
            />
          </a>
        </div>
        <div class="swiper-slide gallery-slide">
          <a
            data-caption=""
            data-fancybox="gallery"
            href="./images/gallery-4.jpg#4"
          >
            <img
              id="4"
              src="./images/gallery-4.jpg"
              alt="ice cream
                            with
                            different flavors of fruits and nuts"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
