<section class="gallery">
    <div class="container">
        <div class="swiper gallery-swip">
            <div class="swiper-wrapper">
                <div class="swiper-slide gallery-slide">
                    <img src="./images/gallery-1-1x.jpg"
                        srcset="./images/gallery-1-2x.jpg" alt="fruits ice
                        cream">
                </div>
                <div class="swiper-slide gallery-slide">
                    <img src="./images/gallery-1-1x.jpg"
                        srcset="./images/gallery-1-2x.jpg" alt="">
                </div>
                <div class="swiper-slide gallery-slide">
                    <img src="./images/gallery-1-1x.jpg"
                        srcset="./images/gallery-1-2x.jpg" alt="">
                </div>
            </div>
        </div>
    </section>