
<header>
    <div class="container header__container">
     <nav class="site-nav">
         <a class="logo" href="#">
             <picture>
                 <source srcset="./images/logo-mobile.png 1x, 
                 ./images/logo-mobile@2x.png 2x" 
                 type="image/png" media="(max-width:767px)">
                 <img src="./images/logo-mobile.png" alt="Logo">
             </picture>
         </a>
     </nav>
         <button class="mobile-menu-btn-open" type="button">
             <svg class="mobile-menu-open-icon"><use href="./images/sprite.svg#mobile-menu-open"></use></svg>
         </button>
    </div>
 </header>
 
 <section class="hero">
     <div class="container">
         
     <h1 class="hero__title">ice cream <br>
             made with <br>
             passion</h1>

             <ul class="hero__button--list">
                <li><button class="hero__button--products" type="button">
                    <a class="hero__button--link products-link" href="#products">Products</a>
                </button></li>
                <li> <button class="hero__button--about" type="button">
                    <a class="hero__button--link about-link" href="#about">How it&#8216s made?</a>
                </button></li>
             </ul>
                
                
     </div>
    <picture>
        <source srcset="./images/ice-cream-mobile.png 1x,
        ./images/ice-cream-mobile@2x.png 2x"
        type="image/png" media="(max-width:767px)">
        <img class="ice-cream" src="./images/ice-cream-mobile.png" alt="Logo"> 
    </picture>
             

 </section>
 