<header>
    <div class="container header__container">
        <nav class="site-nav">
            <a class="logo" href="#">
                <picture>
                    <source srcset="./images/logo-tablet.png 1x, 
                    ./images/logo-tablet@2x.png 2x" 
                     media="(min-width:768px)">
                    <source srcset="./images/logo-mobile.png 1x,
                        ./images/logo-mobile@2x.png 2x"
                        media="(max-width:767px)">
                    <img src="./images/logo-mobile.png" alt="Logo">
                </picture>
            </a>
        </nav>
        <button class="mobile-menu-btn-open" type="button">
            <svg class="mobile-menu-open-icon">
                <use href="./images/sprite.svg#mobile-menu-open"></use>
            </svg>
        </button>
        <button class="header-btn" type="button">Buy now</button>
    </div>
</header>

<section class="hero">
    <div class="container hero__container">

        <h1 class="hero__title ">ice cream <br>
            made with <br>
            passion</h1>

        <ul class="hero__button--list">
            <li>
                <a class="hero__button--link products-link" href="#products">Products</a>
                </li>
            <li>
                <a class="hero__button--link about-link" href="#about">Howit&#8216s made?</a>
            </li>
        </ul>
    </div>
    <picture>
            <source srcset="./images/ice-cream-tablet@2x.png "
            media="(min-width:768px)">
            <img class="ice-cream" src="./images/ice-cream-mobile@2x.png" alt="">         
    </picture>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <button class="hero__arrow" type="button"><img src="./images/arrow-white.png" alt=""></button>
    
</section>