<div class="backdrop is-hidden" data-modal-location>
    <div class="modal small-modal">
        <button type="button" class="modal-close-btn"
            data-location-modal-close>
            <svg class="close-icon">
                <use href="./images/sprite.svg#close-btn"></use>
            </svg>
        </button>
        <p class="modal-title">Our Locations</p>
        <div class="modal-form-wrapper">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.8663399464613!2d30.531895015677044!3d50.42496187947187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1sru!2sua!4v1665157684251!5m2!1sru!2sua"
                class="location-map" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy" aria-label="Карта" target="_blank"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <a target="_blank" rel="noreferrer noopener" href="https://www.google.com.ua/maps/place/GoIT/@50.4249619,30.531895,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4d96f5139689b:0xa1f7c65300bebad1!8m2!3d50.4249597!4d30.5340916?hl=ru&authuser=0"
                class="modal-button">Open map</a>
        </div>
    </div>
</div>
