<div class="mob-menu">
  <div class="container">
    <button class="menu-close" type="button">
      <svg class="menu-close__icon">
        <use href="./images/sprite.svg#close-btn" width="19" hight="19"></use>
      </svg>
    </button>
    <nav class="mob-menu__nav">
      <ul class="mob-menu__list list">
        <li class="mob-menu__item">
          <a class="mob-menu__link link">Home</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link link">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link link">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button" data-modal-open>Buy now</button>
  </div>
</div>
