<!-- Mobile menu -->
<div class="mobile-menu" data-menu>
  <ul class="mob-menu-list">
    <li class="mob-list__item"><a class="mob-list__link" href="#">Home</a></li>
    <li class="mob-list__item"><a class="mob-list__link"
        href="#about">How it’s
        made?</a></li>
    <li class="mob-list__item"><a class="mob-list__link close-link"
        href="#products">Our
        products</a></li>
    <li class="mob-list__item"><a class="mob-list__link" href="#contacts">Contact</a></li>
  </ul>
  <button class="button mobile-btn" type="button"
    data-buy-now-modal-mobile-open>
    <span class="button__span">
      Buy now
      <svg class="btn-arrow">
        <use href="./images/sprite.svg#btn-arrow"></use>
      </svg>
    </span>
  </button>
</div>
