<div class="mob-menu is-hidden">
  <div class="container">
    <div class="mob-menu__top">
      <button class="menu-close" type="button">
        <svg class="menu-close__icon">
          <use href="./images/sprite.svg" width="32" hight="32"></use>
        </svg>
      </button>
      <nav class="mob-menu__nav">
        <ul class="mob-menu__list list">
          <li class="mob-menu__item">
            <a class="mob-menu__link link">Home</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link link">How it’s made?</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link link">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link link">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="hero-btn" type="button" data-modal-open>Buy now</button>
    </div>
  </div>
</div>
