<section class="products">
    <p class="page-sup-title">100% natural</p>
    <h2 class="page-title">products</h2>
    <ul class="products__list">
      <li class="products__item"><h3 class="products__product-name">ice cream</h3><p class="products__product-info">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p><button data-modal-open type="button" class="products__btn"><img src="../src/images/arrow.png" alt="arrow" class="products__btn-img"></button></li>
      <li class="products__item"><h3 class="products__product-name">ice coffee</h3><p class="products__product-info">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p><button data-modal-open type="button" class="products__btn"><img src="../src/images/arrow.png" alt="arrow" class="products__btn-img"></button></li>
      <li class="products__item"><h3 class="products__product-name">milkshakes</h3><p class="products__product-info">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p><button data-modal-open type="button" class="products__btn"><img src="../src/images/arrow.png" alt="arrow" class="products__btn-img"></button></li>
    </ul>
    </section>