<!-- Products -->
<section id="products" class="products">
  <div class="container">
    <p class="page-sup-title-dark">100% natural</p>
    <h2 class="page-title-dark">products</h2>
    <ul class="products__list">
      <li class="products__item products__item-one">
        <h3 class="products__product-name products__product-name-one">
          ice cream
        </h3>
        <div class="products__product-info-wrapper">
          <p class="products__product-info">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button type="button" class="products__btn"
          data-product-modal-open></button>
      </li>
      <li class="products__item products__item-two">
        <h3 class="products__product-name products__product-name-two">
          ice coffee
        </h3>
        <div class="products__product-info-wrapper">
          <p class="products__product-info">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button
          type="button"
          class="products__btn"
          data-product-modal-two-open></button>
      </li>
      <li class="products__item products__item-three">
        <h3 class="products__product-name products__product-name-three">
          milkshakes
        </h3>
        <div class="products__product-info-wrapper">
          <p class="products__product-info">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button
          type="button"
          class="products__btn"
          data-product-modal-three-open></button>
      </li>
    </ul>
  </div>
</section>
