.about-modal {
  position: relative;
  padding: 28px;
  min-height: auto;
  max-height: 459px;
  height: 100%;

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }
  
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__video {
    margin-bottom: 20px;
    display: block;
    width: 225px;
    height: 200px;

    @media screen and (min-width: 768px) {
      width: 448px;
      height: 205px;
    }
  }

  &__text {
    font-family: $siteSerif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;

    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
    }
  }
}
