.backdrop {
  &--about {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility $animationTransition;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.about-modal {
  position: relative;
  padding: 28px;
  min-height: auto;
  max-height: 459px;
  height: 100%;

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__video {
    margin-bottom: 20px;
    display: block;
    width: 225px;
    height: 200px;

    @media screen and (min-width: 768px) {
      width: 448px;
      height: 205px;
    }
  }

  &__text {
    font-family: $siteSerif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;

    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
    }
  }
}

.close-btn {
  position: absolute;
  border: none;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  fill: currentColor;
  cursor: pointer;
  background-color: transparent;
  transition: color $animationTransition, border $animationTransition;

  &:hover,
  &:focus {
    color: $hoverBtn;
    transition: color $animationTransition;
  }

  &:focus {
    outline: none;
    border: 1px solid $hoverBtn;
    border-radius: 50%;
    transition: border $animationTransition;
  }
}
