


.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 16px;
    height: 16px;
}

.close-icon {
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 768px) {
    .modal-close-btn {
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
    }

    .close-icon {
        width: 20px;
        height: 20px;
    }
}