.modal-button {
    display: inline-block;
    font-weight: 600;
    @include font (12px, 15px);
    color: $firstColor;
    background-color: $secondBlockColor;
    border: 0;
    border-radius: 10px;
    padding: 12px 34px;
    margin-top: 24px;
    transition: color $animationTransition, background-color $animationTransition;

    &:hover, &:focus {
        background-color: $hoverBtn;
    }
    &:focus {
        color: $MainbackgroundColor;
    }
    &:disabled {
        background-color: $colorTime;
    }
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 16px;
    height: 16px;
    
    &:hover .close-icon, &:focus .close-icon {
        fill: $secondBlockColor;
    }
}

.close-icon {
    width: 16px;
    height: 16px;
    fill: $firstColor;
    transition: fill $animationTransition;
}

@media screen and (min-width: 768px) {
    .modal-button {
        margin-top: 32px;
        @include font (14px, 17px);
    }

    .modal-close-btn {
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
    }

    .close-icon {
        width: 20px;
        height: 20px;
    }
}