.contacts {
 background: $firstBlockColor; 
 padding-top: 48px;
 padding-bottom: 39px;
}


.contacts__card-wrap {
 margin-top: 32px;
}

.contacts__item {
width: 280px;
 height: 412px;
 margin-left: auto;
 margin-right: auto;
 padding: 20px 20px;
 margin-top: 20px;
 background: $MainbackgroundColor;
 box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
 border-radius: 24px;
 transition: $animationTransition;

 &:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.3);
 }
}

.contacts__title{
padding: 4px 12px;
 @include flexCentral();
 margin-bottom: 20px;
 width: 94px;
 height: 16px;
 text-transform: uppercase;
 background-color: $secondBlockColor;
 border-radius: 6px;

}

.contacts__address {
padding-bottom: 24px;
}

.contacts__location {
 margin-bottom: 8px;
 color: $firstColor;
}

.contacts__text{
 color: $threeColorProduct;
  &:hover,
  &:focus {
   color: $hoverBtn;
  }


}
.contacts__work{
 padding: 24px 0;
 border-top: 1px solid #E1E1E1;
 border-bottom: 1px solid #E1E1E1;

}
.contacts__work-time {
 &:not(:last-child) {
  margin-bottom: 8px;
 }
}

.contacts__day{

 color: $firstColor;

}
.contacts__time{
 color: $colorTime;


}

.contacts__connection{
 padding-top: 24px;
 text-decoration: none;


}

.contacts__link{
 cursor: pointer;
 color: $firstColor;
 &:hover,
 &:focus {
  color:$threeColorProduct;
}
}

.contacts__button-wrap {
  flex-direction: column;
  @include flexCentral();
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
  margin-bottom: 120px;
}

.contacts__button--locations {
 width: 196px;
 height: 42px;
 color: $firstColor;
 background-color: $secondBlockColor;
 border-radius: 10px;
 border: 2px solid $secondBlockColor;
 margin-bottom: 16px;
  &::after {
      content: "";
      width: 12px;
      height: 12px;
      margin-left: 7px;
      background-image: url("/src/images/arrow2.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    &:focus::after {
      background-image: url("/src/images/arrow2.png");
    }
  }



.contacts__button--franchise {
 width: 196px;
 height: 42px;
 color:$firstColor;
 background-color: $firstBlockColor;
 border: 2px solid $secondBlockColor;
 border-radius: 10px;
  &::after {
      content: "";
      width: 12px;
      height: 12px;
      margin-left: 7px;
      background-image: url("/src/images/arrow2.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    &:focus::after {
      background-image: url("/src/images/arrow2.png");
    }
    }
  
  
