.contacts {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 345px,
    $firstBlockColor 345px,
    $firstBlockColor 100%
  );
  padding-bottom: 40px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

}

.contact-list__item {
  width: 280px;
  padding: 40px 32px;
  background-color: #fcfcfc;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  

}


.list__item__in {
  padding-top: 25px;
  padding-bottom: 25px;
}

.list__item__in:first-child {
  padding-top: 0;
}

.list__item__in:last-child {
  padding-bottom: 0;
}

.list__item__in:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

.infro {
  padding: 0px 25px;
  margin-bottom: 20px;
  background-color: $secondBlockColor;
  display: inline-block;
  color: $firstColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  border-radius: 4px;
  text-transform: uppercase;
}

.city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $firstColor;
  margin-bottom: 8px;
}

.map {
  color: $threeColorProduct;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  display: inline-block;
  transition: $animationTransition;

  &:hover,
  &:focus {
    color: $secondBlockColor;
  }
}

.day-work,
.day-off {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $firstColor;
  margin-bottom: 2px;
}

.time-work,
.time-day-off {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ababab;
  margin-bottom: 8px;
}

.time-day-off {
  margin-bottom: 0;
}

.tel-number,
.email {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $firstColor;
  transition: $animationTransition;
    &:hover,
    &:focus {
      color: $secondBlockColor;
    }
}

.contact-btn-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.cont-btn {
  width: 196px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .contacts {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 0) 95px,
      $firstBlockColor 95px
    );
  }

  .contact-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 60px;

  }

  .contact-list__item {
    width: 224px;
    padding: 40px 24px;
  }

  .infro {
    font-size: 16px;
  }

  .city,
  .map,
  .day-work,
  .day-off,
  .time-work,
  .time-day-off,
  .tel-number,
  .email {
    font-size: 14px;
    line-height: 26px;
  }

  .contact-btn-list {
    flex-direction: row;
  }

  .cont-btn {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .contacts {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 0) 100px,
      $firstBlockColor 100px,
      $firstBlockColor 100%
    );
  }

  .contact-list {
    gap: 32px;
    margin-bottom: 76px;
  }

  .contact-list__item {
    width: 368px;
    padding: 40px;
  }

  .city,
  .map,
  .day-work,
  .day-off,
  .time-work,
  .time-day-off,
  .tel-number,
  .email {
    font-size: 15px;
    line-height: 29px;
  }
}
