.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-sup-title-dark {
  margin-bottom: 12px;
  text-align: center;
}

.page-title-dark {
  text-align: center;
  margin-bottom: 148px;
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 164px;
}

.products__product-name {
  font-family: $siteSerif;
  @include font (20px, 24px);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.products__item {
  width: 100%;
  border-radius: 24px;
  padding-top: 123px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  position: relative;
}

.products__item-one {
  background: $oneColorProduct;
}

.products__product-name-one::before {
  content: '';
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  width: 201px;
  height: 206px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
  border-radius: 100px;
  background-image: url(../images/product-mobile-1.png);
}

.products__item-two {
  background: $twoColorProduct;
}

.products__product-name-two::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 201px;
  height: 211px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
  border-radius: 101px;
  background-image: url(../images/product-mobile-2.png);
  background-repeat: no-repeat;
}

.products__item-three {
  background: $threeColorProduct;
}

.products__product-name-three::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 201px;
  height: 211px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 101px;
  background-image: url(../images/product-mobile-3.png);
  background-repeat: no-repeat;
}

.products__product-info {
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
}

.products__product-info-wrapper {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.products__btn {
  border: none;
  background: transparent;
  margin: 0 auto;
  padding: 0;
  display: block;
  position: relative;
}

.products__btn::before {
  content: '';
  display: inline-block;
  width: 43px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/Arrow-standart.png);
  background-repeat: no-repeat;
}

.products__btn:hover::before {
  content: '';
  width: 53px;
  background-image: url(../images/arrow-hover.png);
}

.products__btn:focus::before {
  content: '';
  width: 55px;
  height: 25px;
  background-image: url(../images/arrow-focus.png);
}


@media screen and(max-width: 480px) {
  .products__item {
    max-width: 280px;
  }
} 

@media screen and(min-width: 480px) {
  .products__item {
    width: 280px;
  }
}

@media screen and(min-width: 768px) {
  .products {
    padding-bottom: 82px;
  }
  .products__list {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
  .products__item {
    width: 224px;
    margin: 0;
    padding-top: 119px;
  }
  .products__product-name {
    font-size: 22px;
  }
  .products__product-info-wrapper {
    min-height: 175px;
    margin-bottom: 40px;
  }
  .products__product-name-one::before {
    background-image: url(../images/product-1-tablet.png);
    width: 200px;
    height: 208px;
  }
  .products__product-name-two::before {
    background-image: url(../images/product-2-tablet.png);
    width: 200px;
    height: 208px;
  }
  .products__product-name-three::before {
    background-image: url(../images/product-3-tablet.png);
    width: 200px;
    height: 208px;
  }
}

@media screen and(min-width: 1200px) {
  .products {
    padding-bottom: 66px;
  }
  .products__list {
    gap: 32px;
  }
  .products__item {
    width: 370px;
    padding-top: 180px;
    padding-bottom: 60px;
  }
  .products__product-name {
    font-size: 30px;
    margin-bottom: 65px;
  }
  .products__product-info-wrapper {
    min-height: 147px;
    margin-bottom: 66px;
    max-width: 246px;

  }
  .products__product-info {
    font-size: 16px;
    width: 246px;
  }
  .products__product-name-one::before {
    background-image: url(../images/product-1-desktop.png);
    width: 302px;
    height: 317px;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    border-radius: 150px;
  }
  .products__product-name-two::before {
    background-image: url(../images/product-2-desktop.png);
    width: 302px;
    height: 317px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 150px;
  }
  .products__product-name-three::before {
    background-image: url(../images/product-3-desktop.png);
    width: 302px;
    height: 317px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    border-radius: 150px;
  }
}
