.page-sup-title-dark {
  font-family: $siteSerif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.23;
  text-transform: uppercase;
  color: $firstColor;
}

.page-title-dark {
  font-family: 'Seymour One';
  font-size: 29px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $firstColor;
}

.page-sup-title {
  font-family: $siteSerif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.23;
  text-transform: uppercase;
  color: $MainbackgroundColor;
}

.page-title {
  font-size: 30px;
  font-family: 'Seymour One';
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $MainbackgroundColor;
}

@media screen and(min-width: 768px) {
  .page-sup-title-dark {
    font-size: 22px;
  }
  .page-title-dark {
    font-size: 34px;
    margin-bottom: 200px;
  }
}

@media screen and(min-width: 1200px) {
  .page-sup-title-dark {
    font-size: 30px;
  }
  .page-title-dark {
    font-size: 36px;
    margin-bottom: 303px;
  }
}
